[alias]
	s = status
	d = diff
	b = branch
	su = submodule update
	rs = reset --soft HEAD~1
	m = checkout master
	last = diff HEAD~1
    lastc = log -1 --pretty=format:"%H"
[user]
	name = Grant Titus
	email = grant@granttitus.com
[push]
	default = simple
[color]
	ui = true
[core]
	editor = vim -f
